body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}


.nav-bar{

    background-color: antiquewhite;
    min-height: 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
    
    

}

.logo{
    margin-top: 10px;
    font-weight: bold;
}

.inner{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 16px;
   
}

.inner a{
    text-decoration: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;

}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item-img{
    max-width: 200px;
}


.footer{
    
    background-color: cadetblue;
    min-height: 20px;
    text-align: center;
    padding: 16px;

   
    
    
    
    

}